/* GLOBAL STYLES */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  display: relative;
}

/* END GLOBAL STYLES */

/* MAIN WRAPPER */

#wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* END MAIN WRAPPER */

/* HOME SECTION + NAVBAR */

#home {
  width: 100%;
  margin-top: 64px;
  padding-top: 20px;
  min-height: 500px;
  background: #2a0845;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home-content {
  width: 52%;
  margin: 0 auto;
}

#navbar-container {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #2a0845;
}

#navbar {
  width: 52%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
  letter-spacing: 0.1em;
}

#navbar a {
  text-decoration: none;
  color: white;
}

#logo {
  color: white;
  padding: 20px 20px 10px 0;
}

.nav-list {
  color: white;
  list-style: none;
  display: flex;
  flex-direction: row;
}

.nav-item {
  padding: 20px 20px;
}



#home h1 {
  color: white;
  margin-bottom: 30px;
  font-size: 3em;
  font-weight: 600;
}

#home p {
  color: white;
  margin-bottom: 30px;
  font-size: 1.2em;
  font-weight: lighter;
}

.demo,
.video {
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 1.2em;
  color: white;
}

.demo {
  display: inline;
  background: none;
  border: none;
  background: #f38900;
  border: 2px solid #f38900;
}

.video {
  display: inline;
  background: none;
  border: 2px solid white;
  margin-left: 15px;
}

/* END HOME + NAVBAR*/

/* CUSTOMERS START */

#customers {
  text-align: center;
}

#customers h2 {
  color: #777;
  font-weight: 400;
  margin-top: 60px;
  margin-bottom: 40px;
}

.company-logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}

.company-logo-thumb {

}

/* CUSTOMERS END */

/* STATS START */

#stats {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.stats-container {
  text-align: center;
  width: 33%;
}

.stats-container h3 {
  font-size: 4em;
  color: #2a0845;
  margin-bottom: 20px;
}

.stats-container p {
  margin-bottom: 40px;
}

.more-results {
  margin-top: 80px;
  background: none;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 1.2em;
  color: #2a0845;
  border: 3px solid #2a0845;
  margin-bottom: 40px;
}

/* STATS START */

#software-summary {
  width: 90%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
}

#software-summary span {
  width: 100%;
  color: #777;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 1.5em;
}

.software-summary-left {
  text-align: left;
  padding-top: 20px;
  width: 40%;
}

.software-summary-left h4 {
  font-size: 1.5em;
  color: #777;
  margin-bottom: 20px;
  line-height: 2;
}

.software-summary-left p {
  font-size: 1.3em;
  color: #777;
  margin-bottom: 40px;
  line-height: 1.5;
}

.software-summary-right {
  padding-top: 20px;
  width: 60%;
}

.read-more {
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 1.2em;
  border: 2px solid black;
  color: black;
  margin-left: 15px;
}

/* STATS END */

/* FEATURES START */

#features {
  width: 100%;
}

#feature-nav {
  width: 60%;
  margin: 0 auto;
}

#feature-nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

#feature-nav li {
  height: 85px;
  display: inline;
  padding: 30px 50px;
  font-size: 1.5em;
  color: #555
}

#feature-nav li:hover,
#feature-nav li:focus {
  color: #2a0845;
  border-bottom: 4px solid #2a0845;
}

#engage {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#engage h2 {
  width: 100%;
  display: block;
  margin-top: 80px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 2.5em;
  color: #2a0845;
    font-weight: lighter;
}

.engage-left {
  width: 70%;
  text-align: left;
  padding: 30px;
}

.engage-left h3 {
  font-size: 2em;
  color: #555;
  margin-bottom: 30px;
  font-weight: lighter;
}

.engage-left  li {
  font-size: 1.4em;
  color: #2a0845;
  margin-bottom: 20px;
  margin-left: 30px;
  padding-left: 20px;
}

.engage-left li p {
  color: #555;
}

.engage-right {
  width: 30%
}


#repeat {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#repeat h2 {
  width: 100%;
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 2.5em;
  color: #2a0845;
    font-weight: lighter;
}

.repeat-left {
  text-align: center;
  width: 40%;
}

.repeat-right {
  width: 60%;
  text-align: left;
  padding: 30px;
}

.repeat-right h3 {
  font-size: 2em;
  color: #555;
  margin-bottom: 30px;
  font-weight: lighter;
}

.repeat-right li {
  font-size: 1.4em;
  color: #2a0845;
  margin-bottom: 20px;
  margin-left: 30px;
  padding-left: 20px;
}

#repeat .demo {
  margin-top: 30px;
}

#retain {

}

/* FEATURES END */

#pricing {

}

/* FOOTER START */

#footer {
  margin-top: 80px;
  background: #2d2d2d;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#footer-content {
  height: 110px;
  width: 52%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-links,
.footer-social {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer-links li {
  padding: 15px 30px;
  color: white;
}

.footer-social li {
  padding: 15px 30px;
  color: white;
}

/* FOOTER END */
